@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 236, 236, 236;
  --primary-dark-rgb: 171, 170, 184;
  --secondary-rgb: 71, 71, 135;
  --secondary-dark-rgb: 45, 44, 84
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: 71, 71, 135;
    --primary-dark-rgb: 45, 44, 84;
    --secondary-rgb: 236, 236, 236;
    --secondary-dark-rgb: 171, 170, 184
  }
}

body {
  color: rgb(var(--secondary-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--primary-rgb))
    )
    rgb(var(--primary-dark-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
